{% load static%}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<body>
    <div class="container">
    <div class="row mt-5 mb-5 p-2">
<div class="col-10">
    <img class="img-fluid" src="{% static 'img/3.png'%}" style="height:90px" alt="">
</div>
<div class="col-2">
    <input type=button value="Back" class="btn btn-outline-warning mt-3" onClick="javascript:history.go(-1);">
                    
</div>
</div>


<p style="font-family:sans-serif" class="mt-5">

<b>Terms and Conditions</b><br><br>

These Terms and Conditions ("Terms") govern your use of Billzify, including all features, content, and services provided through the website. By accessing or using Billzify services, you agree to be bound by these Terms. Please read them carefully before using the website.
<br><br>
<b>1</b>. Introduction and Definitions:<br>

The parties involved: vendors (hotels/restaurants) and users (customers).<br>
Our hotel management website provides a convenient and efficient platform for hotel owners to manage their operations.

<br><br>

<b>2.</b>Registration and Account:<br>

Vendors (hotel owners) must complete registration and provide accurate information to create an account.<br>
Each hotel owner will have a unique account associated with their respective hotel(s).
<br><br>
<b>3.</b>
Access and Use:<br>

Upon login, vendors can add and customize data as required and utilize various Billzify services.
<br><br>
<b>4.</b>
Data Usage and Privacy:<br>

Billzify collects and stores data provided by hotel owners solely for purposes related to our services.<br>
We are committed to maintaining the confidentiality and security of user and vendor data in accordance with our Privacy Policy.
<br><br>
<b>5.</b>
Ordering Process for Using the Billzify Dineflow Service:<br>

Users can browse menus and order food.<br>
Orders are confirmed via QR code scanning.<br>
Orders can be modified or canceled within a specified time.
<br><br>
<b>6.</b>
Subscription and Payments:<br>

To access and utilize our services, hotel owners must subscribe to Billzify.<br>
Subscription fees are non-refundable.<br>
Payments for hotel services are handled directly between the hotel owner and their customers.<br>
Billzify does not provide a transaction medium for these services.<br>
Payment for orders is made at the reception of the respective hotel/restaurant.<br>
Users are responsible for settling their bills directly with the hotel/restaurant.<br>
The website does not handle any financial transactions between users and vendors.
<br><br>
<b>7.</b>
Menu Customization:<br>

Vendors can customize their menus based on availability and pricing.<br>
Vendors are responsible for updating menu items and prices in a timely manner.<br>
The website reserves the right to review and approve menu changes.
<br><br>
<b>8.</b>
Liability and Disputes:<br>

The website acts as a platform for connecting users with vendors and is not liable for the quality of products or services provided by vendors.<br>
Any disputes regarding orders, payments, or services should be resolved directly between the user and the vendor.
<br><br>
<b>9.</b>
Sales Analysis:<br>

The website collects data on sales and user interactions for analytical purposes.<br>
Vendor data is treated in accordance with privacy policies and applicable regulations.<br>
Aggregate sales data may be shared with vendors for performance evaluation and improvement.
<br><br>
<b>10.</b>
Service Modifications:<br>

Billzify has the authority to make changes or suspend any aspect of our services.<br>
The website may update these Terms and Conditions periodically.<br>
Users will be notified of any changes, and continued use of the website constitutes acceptance of the updated Terms.
<br><br>
<b>11.</b>
Related to services:<br>

Every transaction and sales analysis will be based on the vendor's data, and our system will calculate invoices and sales accordingly.<br>
In a multiple check-in system, all check-ins of a specific guest will be processed simultaneously.<br>
When using multiple taxes based on different categories, the sales data in the excel sheet will be calculated based on only one tax and will display the properly calculated sales amount.
<br><br>
<b>12.</b>
Intellectual Property:<br>
All content and trademarks displayed on the website are the property of their respective owners.
Users are prohibited from using website content for commercial purposes without prior consent.<br><br>
For questions or concerns regarding these Terms and Conditions, please contact us at Billsteam@gmail.com.

</p>
</div>

</body>