{% extends "base.html" %}
{% block content %}





{% if messages%}
{% for msg in messages %}
<div class="container mt-0">
    <!-- Success Alert -->
    {% if msg.tags == 'success' %}
    <div id="success-alert" class="alert alert-success alert-dismissible" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%else%}
    <div id="danger-alert" class="alert alert-danger alert-dismissible" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endif%}
</div>
{%endfor%}
<script>
  $(document).ready(function() {
      // Fade out the alert after 5 seconds (5000 milliseconds)
      setTimeout(function() {
          $("#success-alert").fadeTo(500, 0).slideUp(500, function(){
              $(this).remove(); 
          });
      }, 1000);
      setTimeout(function() {
        $("#danger-alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 5000);
      
  });
</script>
{%endif%}




<div class="row p-3">
    

    <div class="col-6">
        <div class="card p-3">
            <h5 class="text pt-3">Advance Booking Details</h5>
            <p class="text ">
                {%if guestdata%}
                {%for i in guestdata%}
                {%if i.booking_id%}
                BOOKING-ID:<b> {{i.booking_id}} </b><br>
                {%endif%}
                Booking Date: {{i.checkin}}<br>
                Name: {{i.bookingguest}}<br>
                Phone: {{i.bookingguestphone}}<br>
                Check-IN Date: {{i.bookingdate}}<br>
                Check-Out Date: {{i.checkoutdate}}<br>
                Advance amount: {{i.advance_amount}}<br>
                Reamaining amount: {{i.reamaining_amount}}<br>
                Discount amount: {{i.discount}}<br>
                TOTAL amount (incl discount): {{i.total_amount}}<br>
                TOTAL Tax amount: {{i.tax}}<br>
                Without Tax Total amount: {{i.amount_before_tax}}<br>
                Stay Days: {{i.staydays}}<br>
                Booking From: {{i.channal.channalname}}<br>
                Stay Days: {{i.staydays}}<br>
                Pay At Hotel: {{i.pah}} ( {{i.Payment_types}} )<br>
                {%endfor%}
                {%endif%}
               
                
                <h5>Rooms Details</h5>
                <hr>
                {%if roomdata%}
                {%for i in roomdata%}

                    {{forloop.counter}}<br>
                    Room {{i.roomno.room_name}}<br>
                    Room Sell-price {{i.sell_rate}} (For All Days Exclude Tax)<br>
                    Room Meal-Plan {{i.rateplan_code}}<br>
                    Room Rate-Plan {{i.rateplan_code_main}}<br>
                    Adults:{{i.adults}}<br>
                    Child:{{i.children}}<br><hr>
                {%endfor%}
            </p>
                {%endif%}
            
                    </div>
    </div>
</div>

{%endblock%}
