{% extends "base.html" %}
{% block content %}



{% load static %}

<div class="row">
    {%if data%}
    {%for i in data%}
    <div class="col-4 mb-4">
        <div class="card" style="height:400px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <div  style="height:70%;border-radius:8px 8px 0px 0px">
                <center>
                <img src="{{i.product_img.url}}" alt class="mt-2 rounded-1" height="250px" /></center>
            </div>
            <div style="height:140px">
                <h5 class="card-title ps-3 pt-2 text-uppercase text-black-75" style="color:;font-family:'Open Sans', sans-serif;">{{i.name}}</h5>
                <p class="ps-3" style="margin-top:-10px;font-size:12px;margin-bottom:-7px"><i style="font-size:15px" class='bx bxs-info-circle' ></i> {{i.description}}<p>
                    <hr style="width:90%" class="ms-3">
          
                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-text text-primary ms-3"><b>{{i.price}}</b></h5>
                            <p class="ms-3" style="margin-top:-15px"><i class='bx mb-1 bx-star'></i><span>{{i.ratings}}</span></p>
                       
                        </div>
                        <div class="col-2">
                        </div>
                        <div class="col-2 ms-3">
                            <button class="btn btn-outline-primary " data-bs-toggle="modal"
                            data-bs-target="#backDropModalupdate"><i class='bx bxs-cart-alt'></i></button>
                        </div>
                    </div>

            </div>
        </div>
    </div>
    {%endfor%}
    {%endif%}

    {% comment %} <div class="col-4">
        <div class="card" style="height:500px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <div  style="height:70%;border-radius:8px 8px 0px 0px">
                <center>
                <img src="{% static 'undercss/assets/img/avatars/qrstands2.png'%}" alt class="mt-2 rounded-1" height="320px" /></center>
            </div>
            <div style="height:140px">
                <h5 class="card-title ps-3 pt-2 text-uppercase text-black-75" style="color:;font-family:'Open Sans', sans-serif;">QR Stand Classic-ProMac</h5>
                <p class="ps-3" style="margin-top:-10px;margin-bottom:-7px">Premium Qr Stand<p>
                    <hr style="width:90%" class="ms-3">

                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-text text-primary ms-3"><b>₹ 299</b></h5>
                            <p class="ms-3" style="margin-top:-15px"><i class='bx mb-1 bx-star'></i><span> 4.7/5</span></p>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-outline-secondary"><i class='bx bxs-info-circle' ></i></button>
                        </div>
                        <div class="col-2 ms-3">
                            <button class="btn btn-outline-primary " data-bs-toggle="modal"
                            data-bs-target="#backDropModalupdate"><i class='bx bxs-cart-alt'></i></button>
                        </div>
                    </div>

            </div>
        </div>
    </div>

    <div class="col-4">
        <div class="card" style="height:500px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;">
            <div  style="height:70%;border-radius:8px 8px 0px 0px">
                <center>
                <img src="{% static 'undercss/assets/img/avatars/qrstands3.png'%}" alt class="mt-2 rounded-1" height="320px" /></center>
            </div>
            <div style="height:140px">
                <h5 class="card-title ps-3 pt-2 text-uppercase text-black-75" style="color:;font-family:'Open Sans', sans-serif;">QR Stand Classic-ProMac</h5>
                <p class="ps-3" style="margin-top:-10px;margin-bottom:-7px">Premium Qr Stand<p>
                    <hr style="width:90%" class="ms-3">

                    <div class="row">
                        <div class="col-6">
                            <h5 class="card-text text-primary ms-3"><b>₹ 349</b></h5>
                            <p class="ms-3" style="margin-top:-15px"><i class='bx mb-1 bx-star'></i><span> 4.7/5</span></p>
                        </div>
                        <div class="col-2">
                            <button class="btn btn-outline-secondary"><i class='bx bxs-info-circle' ></i></button>
                        </div>
                        <div class="col-2 ms-3">
                            <button class="btn btn-outline-primary " data-bs-toggle="modal"
                            data-bs-target="#backDropModalupdate"><i class='bx bxs-cart-alt'></i></button>
                        </div>
                    </div>

            </div>
        </div>
    </div> {% endcomment %}
</div>




<!-- Modal update rooms -->
<div class="modal fade" id="backDropModalupdate" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <form  class="modal-content">
         
        <div class="modal-header">
          <h5 class="modal-title" id="backDropModalTitle">Scan this QR code to get in touch with our sales team.</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <center><img src="{% static 'undercss/assets/img/avatars/chatscan.jpeg'%}" alt style="height:300px;width:310px" />
            <p>Say Hello on WhatsApp 👋</p>
            </center>         
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Close
          </button>
        </div>
      </form>
    </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  <!--/ Bootstrap modals -->

  

{%endblock%}