{% extends "base.html" %}
{% block content %}



{% if messages%}
{% for msg in messages %}
<div class="container mt-0">
    <!-- Success Alert -->
    {% if msg.tags == 'success' %}
    <div id="success-alert" class="alert alert-success alert-dismissible" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%else%}
    <a href="{% url 'billingplanpage' %}" style="text-decoration:none;">
    <div id="danger-alert" class="alert alert-danger alert-dismissible" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div></a>
    {%endif%}
</div>
{%endfor%}
<script>
  $(document).ready(function() {
      // Fade out the alert after 5 seconds (5000 milliseconds)
      setTimeout(function() {
          $("#success-alert").fadeTo(500, 0).slideUp(500, function(){
              $(this).remove(); 
          });
      }, 1000);
  });

  $(document).ready(function() {
    // Fade out the alert after 5 seconds (5000 milliseconds)
    setTimeout(function() {
        $("#danger-alert").fadeTo(500, 0).slideUp(500, function(){
            $(this).remove(); 
        });
    }, 1000);
});
</script>
{%endif%} 
<!--customer Create button-->



        
<div class="row"> 
    <div class="col-9">
        <h5 class="card-title  ms-2 mt-1">Company Invoice Page</h5>
    </div> 
   

</div>  

 <!-- Bootstrap Table with Header - Light -->
 <div class="card mt-3">
    
    <h5 class="card-header"><b>{{cname}}</b> Invoice Reports
        
      {% if total_amount%}
      <span class="text float-end">Total Credit Amount: {{total_amount|floatformat:0 }}</span>
      {%endif%}
    </h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th>Customer name</th>
            <th>CheckIn-CheckOut</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Invoice</th>
            <th>Pay</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
            {%for data in cmpinvcdata%}
          <tr>
            <td><strong>{{data.Invoicedata.customer.guestname}}</strong></td>
            <td>{{data.Invoicedata.customer.checkindate}}<br>-
                {{data.Invoicedata.customer.checkoutdate}}</td>
            <td>{{data.Invoicedata.grand_total_amount}}</td>
            
            
            <td>
                {%if data.is_paid %}
                Paid
                {%else%}
                Due
                {%endif%}
            </td>
            <td>
                <a href="{% url 'invoicepage' id=data.Invoicedata.customer.id %}" class="btn btn-primary">Invoice</a>
                
            </td>
            <td>
            {%if data.Invoicedata.customer.checkoutdone %}
                {%if data.is_paid %}
                Paid
                {%else%}
                <a href="{% url 'addpaymentininvoice' id=data.Invoicedata.id %}"  class="btn btn-info">AddPayment</a>
                {%endif%}
                
            {%else%}
                Not CheckOut
            {%endif%}
            </td>
           
           
          </tr>
          {%endfor%}
   
        
        </tbody>
      </table>
    </div>
  </div>
  <!-- Bootstrap Table with Header - Light -->





{%endblock%}