{% extends "base.html" %}
{% block content %}


{% if messages%}
{% for msg in messages %}
<div class="container mt-0">
    <!-- Success Alert -->
    {% if msg.tags == 'success' %}
    <div id="success-alert" class="alert alert-success alert-dismissible" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%else%}
    <a href="{% url 'billingplanpage' %}" style="text-decoration:none;">
    <div id="danger-alert" class="alert alert-danger alert-dismissible" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div></a>
    {%endif%}
</div>
{%endfor%}
<script>
  $(document).ready(function() {
      // Fade out the alert after 5 seconds (5000 milliseconds)
      setTimeout(function() {
          $("#success-alert").fadeTo(500, 0).slideUp(500, function(){
              $(this).remove(); 
          });
      }, 1000);
  });
</script>
{%endif%} 

<h5> Rates/ Plan Page </h5>


<div class="row ">

<div class=" col-6 ">
  <p>Make one plan here for a single person only, as bulk bookings will be split later.</p>
    <form action="{% url 'addbookingrateplan' %}" method="post">
        {% csrf_token %}
    <div class="row">
        <div class="col mb-3 card m-2">
            <h5 class="mt-3 mb-3">RatePlan For Advance Booking In PMS</h5>
          <label for="nameBackdrop" class="form-label mt-2">Rate Plan Name</label>
          {% comment %} <input
            type="text"
            name="planname"
            id="nameBackdrop"
            class="form-control mb-3"
            placeholder="Enter PlanName"
            required
          /> {% endcomment %}
          <select class="form-control" name="planname" required>
            <option value="" disabled selected>-- Please Select an Option --</option>
            <option value="EP">EP</option>
            <option value="BB">BB</option>
            <option value="BL">BL</option>
            <option value="BD">BD</option>
            <option value="BDL">BDL</option>
          </select>

          <label for="nameBackdrop" class="form-label mb-2">Rate Plan Code</label>
            <input
              type="text"
              name="plancode"
              id="nameBackdrop"
              class="form-control mb-3"
              placeholder="Enter Plan Code"
              required
            />

            <label for="nameBackdrop" class="form-label mb-2">Rate Plan Price 1/Person</label>
            <input
              type="number"
              name="planprice"
              id="nameBackdrop"
              class="form-control mb-3"
              placeholder="Enter plan price for 1 guest"
              required
            />

            <input type="submit" class="btn btn-primary mb-4 mt-3" value="SUBMIT" />

        </div>

    </form>
        
</div></div>



<div class=" col-6">
  <p>Create each plan here for MakeMyTrip OTA, as it is directly connected to them.</p>
    <form action="{% url 'addrateplan' %}" method="post">
        {% csrf_token %}
    <div class="row">
        <div class="col mb-3 card m-2">
            <h5 class="mt-3 mb-3">RatePlan For  Category and Person Wise</h5>
          <label for="nameBackdrop" class="form-label mt-2">Select Room Category</label>
          
          <select class="form-select mb-3" name="selectcat" required>
            {% for i in roomcat%}
            <option value="{{i.id}}">{{i.category_name}}</option>
            {%endfor%}
          </select>

          <label for="nameBackdrop" class="form-label mb-2">Rate Plan Name</label>
          {% comment %} <input
            type="text"
            name="planname"
            id="nameBackdrop"
            class="form-control mb-3"
            placeholder="Enter RatePlanName"
            required
          /> {% endcomment %}

          <select class="form-control" name="planname" required>
            <option value="" disabled selected>-- Please Select an Option --</option>
            <option value="EP">EP</option>
            <option value="BB">BB</option>
            <option value="BL">BL</option>
            <option value="BD">BD</option>
            <option value="BDL">BDL</option>
          </select>

          <label for="nameBackdrop" class="form-label mb-2">Rate Plan Code</label>
            <input
              type="text"
              name="plancode"
              id="nameBackdrop"
              class="form-control mb-3"
              placeholder="Enter RateCode"
              required
            />

            <label for="nameBackdrop" class="form-label mb-2">Rate Plan Description</label>
            <input
              type="text"
              name="description"
              id="nameBackdrop"
              class="form-control mb-3"
              placeholder="Enter Description"
              required
            />

            
            <label for="nameBackdrop" class="form-label mb-2">Rate Plan Base Price </label>
            <input
              type="number"
              name="planprice"
              id="nameBackdrop"
              class="form-control mb-3"
              placeholder="Enter Base price"
              required
            />

            <label for="nameBackdrop" class="form-label mb-2">Max Person </label>
            <input
              type="number"
              name="maxperson"
              id="nameBackdrop"
              class="form-control mb-3"
              placeholder="Enter max person limit"
              required
            />

            <label for="nameBackdrop" class="form-label mb-2">Additional Person Price</label>
            <input
              type="number"
              name="addprice"
              id="nameBackdrop"
              class="form-control mb-3"
              placeholder="Enter Additional person price"
              required
            />

            <label for="nameBackdrop" class="form-label mb-2">Max-Childrens</label>
            <input
              type="number"
              name="maxhild"
              id="nameBackdrop"
              class="form-control mb-3"
              placeholder="Enter Childrens Allowed"
              required
            />

            <input type="submit" class="btn btn-primary mb-4 mt-3" value="SUBMIT" />

        </div>
    </form>

        
</div>

</div>



<div class="row">
    <div class="col-6">
        <div class="card">
            <table class="table table-responsive">
                <h5 class="p-3">Advance Booking Plans</h5>
                 <thead class="table">
                    <tr>
                      <th> name</th>
                      <th>Code</th>
                      <th>Rate</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  
                  <tbody class="table-border">  
                    
                      {% for data in bookingplan%}
                    <tr>
                      <td><strong>{{data.rate_plan_name}}</strong></td>
                      <td>{{data.rate_plan_code}}</td>
                      <td>{{data.base_price}}</td>
                      <td>
                          <a href="{% url 'deleteplanbookingcode' id=data.id %}"><span class="badge bg-label-danger  "><i class='bx bxs-trash'></i></span></a>
                      

                      <a class="btn m-0 "    data-bs-toggle="modal"
                      data-bs-target="#editpaymnent" onClick="setpaymentedit('{{data.rate_plan_name}}','{{data.rate_plan_code}}','{{data.base_price}}','{{data.id}}')">
                      <span class="badge bg-label-info  "><i class='bx bx-edit'></i></span></a>
                   
                      
                        </td>
                     
                    </tr>
                    {%endfor%}
             
                  
                  </tbody>
                </table>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <table class="table table-responsive">
                <h5 class="p-3">Main Rate Plans</h5>
                 <thead class="table ">
                    <tr>
                      <th> name</th>
                      <th>Code</th>
                      <th>Rate</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody class="table-border">  
                    
                      {% for data in roomsdata%}
                    <tr>
                      <td><strong>{{data.rate_plan_name}}</strong><br>
                    Person:{{data.max_persons}}<br>
                    child:{{data.childmaxallowed}}<br>
                    Ex/Rate:{{data.additional_person_price}}<br>
                    Description:{{data.rate_plan_description}}
                </td>
                      <td>{{data.rate_plan_code}}</td>
                      <td>{{data.base_price}}</td>
                      <td>
                          
                      
                          <a class="btn p-0"    data-bs-toggle="modal"
                          data-bs-target="#editotaplan" onClick="otaplaningrate('{{data.rate_plan_name}}','{{data.rate_plan_code}}','{{data.base_price}}','{{data.id}}',
                          '{{data.rate_plan_description}}','{{data.additional_person_price}}','{{data.max_persons}}',{{data.childmaxallowed}})">
                          <span class="badge bg-label-info  "><i class='bx bx-edit'></i></span></a>

                          {% comment %} <a href="{% url 'deleteplanratecode' id=data.id %}"><span class="badge bg-label-danger  "><i class='bx bxs-trash'></i></span></a> {% endcomment %}
                      
                          
                      
                      
                        </td>
                    </tr>
                    {%endfor%}
             
                  
                  </tbody>
                </table>
        </div>
    </div>
</div>



</div>




<!-- Modal aedit payment -->
<div class="modal fade" id="editotaplan" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
      <form action="{% url 'editotarateplan'  %}" method="POST" class="modal-content">
          {% csrf_token %}
          
        
          
          
      
      <div class="modal-header">
        <h5 class="modal-title" id="backDropModalTitle">Edit Ota Rate Plans</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        
        <div class="row">


        <input type="hidden" id="taxidsota" name="maintaxid" />

          <div class="col mb-3">
            <label for="nameBackdrop" class="form-label">Plan Name</label>
            <input
              type="text"
              name="planname"
              id="taxnamesota"
              class="form-control"
              placeholder="Enter Amount"
              value=""
              required
            />
          </div>


          <div class="col mb-3">
            <label for="nameBackdrop" class="form-label">Base Price</label>
            <input
              type="text"
              name="planbasepriceota"
              id="basepriceota"
              class="form-control"
              placeholder="Enter Amount"
              value=""
              required
            />
          </div>
          

          
            
        </div>
        <div class="row">
          

          
          <div class="col mb-3">
              <label for="nameBackdrop" class="form-label">Plan  Code</label>
              <input
                type="text"
                name="plancode"
                id="hsncodesota"
                class="form-control"
                placeholder="utr,check no"
                required
              />
            </div>

            <div class="col mb-3">
              <label for="nameBackdrop" class="form-label">Description</label>
              <input
                type="text"
                name="descptn"
                id="otadescription"
                id="Comments"
                class="form-control"
                placeholder=""
                required
              />
            </div>
        </div>

        <div class="row">
          

          
          <div class="col mb-3">
              <label for="nameBackdrop" class="form-label">Max Person</label>
              <input
                type="number"
                name="maxprs"
                id="maxpersns"
                class="form-control"
                placeholder="utr,check no"
                required
              />
            </div>

            <div class="col mb-3">
              <label for="nameBackdrop" class="form-label">Additional Person Price</label>
              <input
                type="text"
                name="addpersonprice"
                id="addperprice"
                id="Comments"
                class="form-control"
                placeholder=""
                required
              />
            </div>
        </div>


        <div class="row">
          

          
          <div class="col mb-3">
              <label for="nameBackdrop" class="form-label">Children </label>
              <input
                type="number"
                name="childs"
                id="childsalw"
                class="form-control"
                placeholder="utr,check no"
                required
              />
            </div>

            
        </div>


      </div>

      
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button  class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--/ Bootstrap modals -->
<script>
  function otaplaningrate(taxname,hsncode,basepriceota,id,description,addpprice,maxperson,childalw) {
    document.getElementById('taxnamesota').value=taxname;
    document.getElementById('basepriceota').value=basepriceota;
    
    document.getElementById('hsncodesota').value=hsncode;
    document.getElementById('otadescription').value=description;
    document.getElementById('taxidsota').value=id;
    document.getElementById('addperprice').value=addpprice;
    document.getElementById('maxpersns').value=maxperson;
    document.getElementById('childsalw').value=childalw;
  }
</script>



<!-- Modal aedit payment -->
<div class="modal fade" id="editpaymnent" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
      <form action="{% url 'editrateplanbooking'  %}" method="POST" class="modal-content">
          {% csrf_token %}
          
        
          
          
      
      <div class="modal-header">
        <h5 class="modal-title" id="backDropModalTitle">Edit Rate Plans</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        
        <div class="row">


        <input type="hidden" id="taxids" name="maintaxid" />

          <div class="col mb-3">
            <label for="nameBackdrop" class="form-label">Plan Name</label>
            <input
              type="text"
              name="taxnames"
              id="taxnames"
              class="form-control"
              placeholder="Enter Amount"
              value=""
              required
            />
          </div>

          

          
            
        </div>
        <div class="row">
          

          
          <div class="col mb-3">
              <label for="nameBackdrop" class="form-label">Plan Code</label>
              <input
                type="text"
                name="hsncodess"
                id="hsncodes"
                class="form-control"
                placeholder="utr,check no"
                required
              />
            </div>

            <div class="col mb-3">
              <label for="nameBackdrop" class="form-label">Plan Price</label>
              <input
                type="text"
                name="taxratez"
                id="taxrates"
                id="Comments"
                class="form-control"
                placeholder=""
                required
              />
            </div>
        </div>
      </div>

      
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button  class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--/ Bootstrap modals -->
<script>
  function setpaymentedit(taxname,hsncode,taxrate,id) {
    document.getElementById('taxnames').value=taxname;
    document.getElementById('hsncodes').value=hsncode;
    document.getElementById('taxrates').value=taxrate;
    document.getElementById('taxids').value=id;
  }
</script>


{%endblock%}