{% extends "base.html" %}
{% block content %}

<!--Room Create button-->
        
<div class="row"> 
    <div class="col-10">
        <h5 class="card-title  ms-2 mt-1">Add New Rooms</h5>
    </div> 
    <div class="col-2">
        <button class="btn btn-primary  w-100 "   data-bs-toggle="modal"
        data-bs-target="#backDropModal"><i class='bx bx-buildings mb-1' ></i> Add Room</button>
    </div> 

</div>  
<!--Room Create button end-->



 <!-- Bootstrap Table with Header - Light -->
 <div class="card mt-5">
    <h5 class="card-header">Guest Stay History</h5>
    <div class="table-responsive text-nowrap">
      <table class="table">
        <thead class="table-light">
          <tr>
            <th>Room name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Tax</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">

            {%for data in roomdata%}
          <tr>
            <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{data.room_name}}</strong></td>
            <td>{{data.room_type.category_name}}</td>
            <td>₹ {{data.price}}</td>
         
            <td>
              {{data.tax.taxrate}} %
            </td>
            <td>
                
                      <button
                        type="button"
                        class="btn  dropdown-toggle hide-arrow"
                        data-bs-toggle="dropdown"
                        aria-haspopup="true"
                        aria-expanded="false"
                        
                      >
                      <i class="bx bx-dots-vertical-rounded"></i>
                      </button>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                          data-bs-target="#backDropModalupdate" onclick="getroomnumberpopup({{data.id}})"><i class="bx bx-edit-alt me-1"></i>Edit</a></li>
                        <li><a class="dropdown-item" href="{%url 'deleteroom' id=data.id %}" ><i class="bx bx-trash me-1"></i> Delete</a></li>
                        
                      </ul>
                    
            </td>
          </tr>
          {%endfor%}
   
        
        </tbody>
      </table>
    </div>
  </div>
  <!-- Bootstrap Table with Header - Light -->





<!-- Modal add rooms -->
<div class="modal fade" id="backDropModal" data-bs-backdrop="static" tabindex="-1">
    <div class="modal-dialog">
        <form action="{% url 'addroom'  %}" method="POST" class="modal-content">
            {% csrf_token %}
        
        <div class="modal-header">
          <h5 class="modal-title" id="backDropModalTitle">Add Room</h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col mb-3">
              <label for="nameBackdrop" class="form-label">Room Name</label>
              <input
                type="number"
                name="roomname"
                id="nameBackdrop"
                class="form-control"
                placeholder="Enter RoomName"
                required
              />
            </div>

            <div class="col mb-3">
                <label for="nameBackdrop" class="form-label">Category</label>
                <select class="form-control" name="category" required placeholder="Select Category">
                    {%for cat in category%}
                    <option  value="{{cat.id}}">{{cat}}</option>
                    
                    {%endfor%}
                  </select>
              </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
            Close
          </button>
          <button  class="btn btn-primary">Save</button>
        </div>
      </form>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
<!--/ Bootstrap modals -->



<!-- Modal update rooms -->
<div class="modal fade" id="backDropModalupdate" data-bs-backdrop="static" tabindex="-1">
  <div class="modal-dialog">
      <form action="{% url 'updaterooms'  %}" method="POST" class="modal-content">
          {% csrf_token %}
      <input type="hidden" id="roomnoidinput" name="roomid" />
      <div class="modal-header">
        <h5 class="modal-title" id="backDropModalTitle">Update Room</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col mb-3">
            <label for="nameBackdrop" class="form-label">Room Name</label>
            <input
              type="number"
              name="roomname"
              id="nameBackdrop"
              class="form-control"
              placeholder="Enter RoomName"
              required
            />
          </div>

          <div class="col mb-3">
              <label for="nameBackdrop" class="form-label">Category</label>
              <select class="form-control" name="category" required placeholder="Select Category">
                  {%for cat in category%}
                  <option  value="{{cat.id}}">{{cat}}</option>
                  
                  {%endfor%}
                </select>
            </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button  class="btn btn-warning">Update</button>
      </div>
    </form>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<!--/ Bootstrap modals -->

<!--js of room no set to pop up button-->
<script type="text/javascript">
  function getroomnumberpopup(e) {
    var room_no = e
    document.getElementById('roomnoidinput').value = e;
  }
</script>

{%endblock%}