{% extends "base.html" %}
{% block content %}


{% if messages%}
{% for msg in messages %}
<div class="container mt-0">
    <!-- Success Alert -->
    {% if msg.tags == 'success' %}
    <div id="success-alert" class="alert alert-success alert-dismissible" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%else%}
    <div id="success-alert" class="alert alert-danger alert-dismissible" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endif%}
</div>
{%endfor%}

<script>
    $(document).ready(function() {
        // Fade out the alert after 5 seconds (5000 milliseconds)
        setTimeout(function() {
            $("#success-alert").fadeTo(500, 0).slideUp(500, function(){
                $(this).remove(); 
            });
        }, 1000);
    });
</script>
{%endif%}

<div class="row">

    <div class="col-3 ">
        
        <div class="nav-align-top mb-4">
            <ul class="nav nav-pills mb-3 nav-fill text-right" role="tablist" style="text-align:left">
              <li class="nav-item w-100 m-1 mt-3 " >
                <button
                  type="button"
                  class="nav-link active " 
                 style="text-align:left"
                  role="tab"
                  data-bs-toggle="tab"
                  data-bs-target="#navs-pills-justified-Amenities"
                  aria-controls="navs-pills-justified-Amenities"
                  aria-selected="true"
                >
                <i class='bx bx-shape-square'></i> Amenities
                </button>
              </li>
              <li class="nav-item w-100 m-1">
                <button
                  type="button"
                  class="nav-link"
                  style="text-align:left"
                  role="tab"
                  data-bs-toggle="tab"
                  data-bs-target="#navs-pills-justified-profile"
                  aria-controls="navs-pills-justified-profile"
                  aria-selected="false"
                >
                <i class='bx bxs-image mb-1'></i> Gallary
                </button>
              </li>
              <li class="nav-item w-100 m-1">
                <button
                  type="button"
                  class="nav-link"
                  style="text-align:left"
                  role="tab"
                  data-bs-toggle="tab"
                  data-bs-target="#navs-pills-justified-messages"
                  aria-controls="navs-pills-justified-messages"
                  aria-selected="false"
                >
                <i class='bx bxs-category-alt'></i> Review Management
                </button>
              </li>
              <li class="nav-item w-100 m-1 m-1">
                <button
                  type="button"
                  class="nav-link "
                  style="text-align:left"
                  role="tab"
                  data-bs-toggle="tab"
                  data-bs-target="#navs-pills-justified-sms"
                  aria-controls="navs-pills-justified-sms"
                  aria-selected="true"
                >
                <i class='bx bxs-home-smile mb-1'></i> OFFERS & Package
                </button>
              </li>
              
             
            </ul>
            
          </div>

        
    </div>
    <div class="col-9">
        <div class="card ">
            <div class="tab-content">
                <!--loylty div start-->
                <div class="tab-pane fade show active" id="navs-pills-justified-Amenities" role="tabpanel">
                    <h5><i class='bx bx-shape-square'></i> Create Amenities</h5>
                    <div class="col-12 mb-2">
                        <button
                          class="btn btn-primary mb-4 float-end"
                          data-bs-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
    
                          ><i class='bx bxs-plus-circle mb-1'></i> Add Category </button>
                        
                    </div>
                    <br>
                    <div class="col-12 mt-3  mb-md-0">
                            <div class="collapse multi-collapse" id="multiCollapseExample1">
                              
                    <form action="{% url 'addserviceshow' %}" method="POST"  >
                        {% csrf_token %}
                    
                      <div class="row">
                        <div class="col-6 mb-6">
                          <label for="nameBackdrop" class="form-label">Amenities Name</label>
                          <input
                            type="text"
                            name="servicename"
                            maxlength="60"
                            id="nameBackdrop"
                            class="form-control"
                            placeholder="Like Free Wifi,Swiming Pool!"
                            required
                          />
                        </div>
                        
                    </div>
                    <button type="submit" class="btn btn-primary mt-4 ms-3 w-25">
                        Add
                    </button>
                    
                </form></div>

                <table class="table mt-5">
                    <thead class="table">
                      <tr>
                        <th>Amenities name</th>
                        
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
            
                        {% for data in amenities%}
                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger "></i> <strong>{{data.service_name}}</strong></td>
                    
                        <td>
                            <a href="{% url 'deleteamenities' id=data.id %}"><span class="badge bg-label-danger  "><i class='bx bxs-trash'></i></span></a>
                        </td>
                      </tr>
                      {%endfor%}
               
                    
                    </tbody>
                  </table>

            </div></div>
                    
                <!--loylty div end-->

               

                <!--tax div start-->
                <div class="tab-pane fade show " id="navs-pills-justified-profile" role="tabpanel">
                    <h5><i class='bx bxs-image mb-1'></i>  Add Images To Websites Gallary</h5>
                    <div class="col-12 mb-2">
                        <button
                          class="btn btn-primary mb-4 float-end"
                          data-bs-toggle="collapse"
                          href="#multiCollapseExample1"
                          role="button"
                          aria-expanded="false"
                          aria-controls="multiCollapseExample1"
    
                          ><i class='bx bxs-plus-circle mb-1'></i> Add Images </button>
                        
                    </div>
                    <div class="collapse multi-collapse" id="multiCollapseExample1">
                              
                        <form action="{% url 'gallryimgwebsite' %}" method="POST"  enctype="multipart/form-data">
                            {% csrf_token %}
                        
                          <div class="row">
                            <div class="col-6 mb-6">
                              <label for="nameBackdrop" class="form-label">Choose Image</label>
                              <input
                                type="file"
                                name="galaryimg"
                                maxlength="60"
                                id="nameBackdrop"
                                class="form-control"
                                placeholder="Like Free Wifi,Swiming Pool!"
                                required
                              />
                            </div>
                            
                        </div>
                        <button type="submit" class="btn btn-primary mt-4 ms-3 w-25">
                            Add
                        </button>
                        
                    </form></div>
    
                    <table class="table mt-5">
                        <thead class="table">
                          <tr>
                            <th>Image Url</th>
                            
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                
                            {% for data in gallary%}
                          <tr>
                            <td><i class="fab fa-angular fa-lg text-danger "></i> <strong></strong>
                            <img src="{{data.gallary_img.url}}" height="30"/>
                            </td>
                        
                            <td>
                                <a href="{% url 'deleteimages' id=data.id %}"><span class="badge bg-label-danger  "><i class='bx bxs-trash'></i></span></a>
                            </td>
                          </tr>
                          {%endfor%}
                   
                        
                        </tbody>
                      </table>

                   

                </div>
                <!--tax div end-->
                

                  <!--category div start-->
                <div class="tab-pane fade" id="navs-pills-justified-messages" role="tabpanel">
                    <h5><i class='bx bxs-image mb-1'></i>About Us Content/Reviews Management</h5>
                    <form action="{% url 'reviewscount' %}" method="POST"  enctype="multipart/form-data">
                        {% csrf_token %}
                    
                      <div class="row">
                        <div class="col-6 mb-6">
                          <label for="nameBackdrop" class="form-label">Total Years Show In Website</label>
                          <input
                            type="text"
                            name="years"
                            maxlength="60"
                            id="nameBackdrop"
                            class="form-control"
                            placeholder="Like 10 ,20, 25!"
                            required
                          />
                        </div>

                        <div class="col-6 mb-6">
                            <label for="nameBackdrop" class="form-label">Review Counts </label>
                            <input
                              type="text"
                              name="reviewscount"
                              maxlength="60"
                              id="nameBackdrop"
                              class="form-control"
                              placeholder="Like 1500,2500,2000!"
                              required
                            />
                          </div>

                          <div class="col-6 mb-6">
                            <label for="nameBackdrop" class="form-label">Happy Guest Count</label>
                            <input
                              type="text"
                              name="clientcount"
                              maxlength="60"
                              id="nameBackdrop"
                              class="form-control"
                              placeholder="Like 1000,5000,6000!"
                              required
                            />
                          </div>
                        
                    </div>
                    <button type="submit" class="btn btn-primary mt-4  w-25">
                        Add
                    </button>
                    
                </form>
                  
                <table class="table mt-5">
                    <thead class="table">
                      <tr>
                        <th>Total Years In Market</th>
                        <th>Total Guest Visited</th>
                        <th>Total Reviews Gained</th>
                      </tr>
                    </thead> 
                    <tbody class="table-border-bottom-0">
            
                        {% for data in reviewsdata%}
                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger "></i> <strong>{{data.years}}</strong></td>
                        <td><i class="fab fa-angular fa-lg text-danger "></i> <strong>{{data.clientscount}}</strong></td>
                        <td><i class="fab fa-angular fa-lg text-danger "></i> <strong>{{data.reviewscount}}</strong></td>
                    
                        
                      </tr>
                      {%endfor%}
               
                    
                    </tbody>
                  </table>

                </div>
                <!--category div end-->
                
              <!--sms marketing div start-->
              <div class="tab-pane fade" id="navs-pills-justified-sms" role="tabpanel">
                <h5><i class='bx bxs-image mb-1'></i>OFFERS & PACKAGES Management</h5>
                    <form action="{% url 'addcoupnoffers' %}" method="POST" >
                        {% csrf_token %}
                    
                      <div class="row">
                        <div class="col-6 mb-6">
                          <label for="nameBackdrop" class="form-label">Offer PromoCode</label>
                          <input
                            type="text"
                            name="codename"
                            maxlength="60"
                            id="nameBackdrop"
                            class="form-control"
                            placeholder="Like WELCOME,FIRST"
                            required
                          />
                        </div>

                        <div class="col-6 mb-6">
                            <label for="nameBackdrop" class="form-label">Offer Show Price </label>
                            <input
                              type="text"
                              name="amountintext"
                              maxlength="60"
                              id="nameBackdrop"
                              class="form-control"
                              placeholder="Like 1500,2500,2000!"
                              required
                            />
                          </div>

                          <div class="col-6 mb-6">
                            <label for="nameBackdrop" class="form-label">Select Room Category</label>
                            <select class="form-control" name="category" placeholder="Select Category">
                                {%for cat in category%}
                                <option  value="{{cat.id}}">{{cat}}</option>
                                {%endfor%}
                              </select>
                          </div>
                        
                    </div>
                    <button type="submit" class="btn btn-primary mt-4  w-25">
                        Add
                    </button>
                    
                </form>
                  
                <table class="table mt-5">
                    <thead class="table">
                      <tr>
                        <th>Selected Category</th>
                        <th>Voucher Code</th>
                        <th>Voucher Amount</th>
                        <th>Action</th>
                      </tr>
                    </thead> 
                    <tbody class="table-border-bottom-0">
                    
                        {% for data in offers%}
                      <tr>
                        <td><i class="fab fa-angular fa-lg text-danger "></i> <strong>{{data.category}}</strong></td>
                        <td><i class="fab fa-angular fa-lg text-danger "></i> <strong>{{data.code}}</strong></td>
                        <td><i class="fab fa-angular fa-lg text-danger "></i> <strong>{{data.amount}}</strong></td>
                        <td>
                          <a href="{% url 'deleteroomoffersweb' id=data.id %}"><span class="badge bg-label-danger  "><i class='bx bxs-trash'></i></span></a>
                      </td>
                        
                      </tr>
                      {%endfor%}
               
                    
                    </tbody>
                  </table>

                </div>
             </div>
             <!--sms Marketing-->
              
              
              
              </div>

               
        </div>
    </div>

</div>


<div class="col-xl-6">
    
      
    </div>
  </div>

{%endblock%}