{% extends "base.html" %}
{% block content %}
{%load static %}


{% if messages%}
{% for msg in messages %}
<div class="container mt-0">
    <!-- Success Alert -->
    {% if msg.tags == 'success' %}
    <div id="success-alert" class="alert alert-success alert-dismissible" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%else%}
    
    <div id="danger-alert" class="alert alert-danger alert-dismissible" role="alert">
        {{msg}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {%endif%}
</div>
{%endfor%}
<script>
  $(document).ready(function() {
      // Fade out the alert after 5 seconds (5000 milliseconds)
      setTimeout(function() {
          $("#success-alert").fadeTo(500, 0).slideUp(500, function(){
              $(this).remove(); 
          });
      }, 1000);
  });
</script>
{%endif%} 

 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Room Availability</title>
     <style>
         .container {
             width: 100%;
             padding: 0px;
             font-family: Arial, sans-serif;
         }
 
         .header-row, .date-row {
             display: flex;
             align-items: center;
             width: 100%;
             box-sizing: border-box;
         }
 
         .header-row {
             position: sticky;  
             top: 0;            
             background-color: #f1f1f1; 
             z-index: 10;      
             font-weight: bold;
             padding: 8px 0;
         }
 
         .room-names, .header-room {
             width: 150px;
             text-align: left;
             padding: 8px;
             border-right: 1px solid #ccc;
             box-sizing: border-box;
         }
 
         .header-day, .date-box {
             flex: 1;
             text-align: center;
             padding: 8px;
             box-sizing: border-box;
             cursor: pointer;  
             position: relative;
             transition: background-color 0.2s ease;
         }
 
         .date-box:hover {
             background-color: #e0e0e0;
         }
 
         .date-box.active {
             background-color: #d0d0d0;
         }
 
         .date-row {
             border-bottom: 1px solid #ccc;
             padding: 8px 0;
         }
 
         .header-day:last-child, .date-box:last-child {
             border-right: none;
         }
 
         .booking-card {
             background-color: white;  
             position: absolute;      
             height: 30px;              
             top: 0;                
             z-index: 1;             
             text-align: center;      
             line-height: 30px;      
             white-space: nowrap;        
             overflow: hidden;        
         }
 
         .booking-card.checkin {
             border-top-left-radius: 10px;
             border-bottom-left-radius: 10px;
         }
 
         .booking-card.checkout {
             border-top-right-radius: 20px;
             border-bottom-right-radius: 5px;
         }
 
         .guest-name {
             position: relative;  
             z-index: 2;
             overflow: hidden;        
         }
 
         .booking-card.checkin-status {
             background-color: pink; /* Set background to pink for CHECK IN status */
         }
         .booking-card.checkout-status {
            background-color: lightgreen; /* Set background to pink for CHECK IN status */
        }
     </style>
 </head>
 <body>

    <div class="container mb-3">
        <b>Hints:</b>&nbsp; <div style="display:inline-flex; align-items:center; margin-right:10px;"><div style="width:20px; height:20px; background:pink; border-radius:20%; margin-right:5px;"></div>CHECK-IN COLOUR &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div><div style="display:inline-flex; align-items:center; margin-right:10px;"><div style="width:20px; height:20px; background:green; border-radius:20%; margin-right:5px;"></div>CHECK-OUT COLOUR &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div><div style="display:inline-flex; align-items:center;"><div style="width:20px; height:20px; background:white; border-radius:20%; margin-right:5px;"></div>BOOKING COLOUR</div>

    </div>
    

{% comment %} <div class="container">
     <div class="navigation-buttons">
         <button onclick="changeDate(-1)" class="btn btn-primary"><i class='bx bxs-left-arrow'></i></button>
         <button onclick="refreshToCurrent()" class="btn btn-primary"><b><i class='bx bx-refresh'></i></b></button>
         <button onclick="changeDate(1)" class="btn btn-primary"><i class='bx bxs-right-arrow'></i></button>
     </div>
 
     <div class="header-row mb-2">
         <div class="card header-room text-center" style="width:100px">Rooms</div>
         {% for i in dates %}
             <div class="card header-day">{{ i }}</div>
         {% endfor %}
     </div>


     
     
 
     {% for category in categories %}
         <div class="card date-row">
             <div class="category">{{ category.category_name }}</div>
         </div>
         {% for room in category.rooms_set.all %}
             <div class="date-row">
                 <div class="room-names" style="width:100px"><b>{{ room.room_name }}</b>
                     {% if room.is_clean %}
                         <a href="{% url 'cleanroombtnweek' id=room.room_name %}"><i class="bi bi-stars fs-5 text-end text-info float-end"></i></a>
                     {% else %}
                         <a href="{% url 'cleanroombtnweek' id=room.room_name %}"><i class="fa fa-broom text-danger fs-5 text-end float-end"></i></a>
                     {% endif %}
                 </div>
 
                 {% for date in dates %}
                     <div class="date-box"  onclick="handleDateBoxClick(this, '{{ room.room_name }}', '{{ date }}', '{{ room.room_no }}')" style="position: relative; margin-top: -10px" 
                           onclick="handleDateBoxClick(this, '{{ room.room_name }}', '{{ date }}')">
                         {% for booking in bookings %}
                             {% if booking.room == room %}
                                 {% with booking_checkin=booking.check_in_date|date:"Y-m-d" booking_checkout=booking.check_out_date|date:"Y-m-d" %}
                                     {% if date == booking_checkin %}
                                         <div class="booking-card checkin {% if booking.status == 'CHECK IN' %}checkin-status{% endif %} {% if booking.status == 'CHECK OUT' %}checkout-status{% endif %}" 
                                              style="width: {{ booking.check_in_width }}%; right: 0;"
                                              onclick="showBookingInfo('{{ booking.id }}','{{ booking.guest_name }}', '{{ room.room_name }}', '{{ booking.check_in_date }}',
                                               '{{ booking.check_out_date }}','{{ booking.checkintime }}' ,'{{ booking.checkouttime }}' ,'{{ booking.segment }}','{{ booking.totalroom }}','{{ booking.totalamount }}','{{ booking.status }}','{{booking.fnbid}}')">
                                             <div class="guest-name">
                                                {%if booking.segment == 'MakeMyTrip' %}
                                                <img src="{% static 'undercss/assets/img/icons/unicons/mmtshort.png'%}"  alt="Credit Card" class="rounded" height='20px'   />
                                                {%endif%}
                                                {%if booking.segment == 'BOOKING-ENGINE' %}
                                                <img src="{% static 'undercss/assets/img/icons/unicons/billzify.png'%}"  alt="Credit Card" class="rounded" height='20px'   />
                                                {%endif%}
                                                {%if booking.segment == 'Booking.com' %}
                                                <img src="{% static 'undercss/assets/img/icons/unicons/bcom.png'%}"  alt="Credit Card" class="rounded" height='20px'   />
                                                {%endif%}
                                                {%if booking.segment == 'Agoda' %}
                                                <img src="{% static 'undercss/assets/img/icons/unicons/agoda.png'%}"  alt="Credit Card" class="rounded" height='25px'   />
                                                {%endif%}
                                                {%if booking.segment == 'Goibibo' %}
                                                <img src="{% static 'undercss/assets/img/icons/unicons/goibibos.png'%}"  alt="Credit Card" class="rounded" height='25px'   />
                                                {%endif%}

                                                                                               

                                                
                                                {{ booking.guest_name }}</div>

                                                
                                                
                                         </div>
                                     {% elif date == booking_checkout %}
                                         <div class="booking-card checkout {% if booking.status == 'CHECK IN' %}checkin-status{% endif %} {% if booking.status == 'CHECK OUT' %}checkout-status{% endif %}" 
                                              style="width: {{ booking.check_out_width }}%; left: 0;"
                                              onclick="showBookingInfo('{{ booking.id }}','{{ booking.guest_name }}', '{{ room.room_name }}', '{{ booking.check_in_date }}',
                                               '{{ booking.check_out_date }}','{{ booking.checkintime }}' ,'{{ booking.checkouttime }}' ,'{{ booking.segment }}','{{ booking.totalroom }}','{{ booking.totalamount }}','{{ booking.status }}','{{booking.fnbid}}')">
                                             {{ booking.guest_name }}
                                         </div>
                                     {% elif date > booking_checkin and date < booking_checkout %}
                                         <div class="booking-card {% if booking.status == 'CHECK IN' %}checkin-status{% endif %} {% if booking.status == 'CHECK OUT' %}checkout-status{% endif %}" 
                                              style="width: 100%; left: 0;"
                                              onclick="showBookingInfo('{{ booking.id }}','{{ booking.guest_name }}', '{{ room.room_name }}', '{{ booking.check_in_date }}',
                                               '{{ booking.check_out_date }}','{{ booking.checkintime }}' ,'{{ booking.checkouttime }}' ,'{{ booking.segment }}','{{ booking.totalroom }}','{{ booking.totalamount }}','{{ booking.status }}','{{booking.fnbid}}')">
                                             {% if not forloop.first %}
                                                 <div class="guest-name">{{ booking.guest_name }}</div>
                                             {% endif %}
                                         </div>
                                     {% endif %}
                                 {% endwith %}
                             {% endif %}
                         {% endfor %}
                     </div>
                 {% endfor %}
             </div>
         {% endfor %}
     {% endfor %} 

    
     
 </div>   {% endcomment %}

 


 {% comment %} <div class="container">
    <div class="navigation-buttons">
        <button onclick="changeDate(-1)" class="btn btn-primary"><i class='bx bxs-left-arrow'></i></button>
        <button onclick="refreshToCurrent()" class="btn btn-primary"><b><i class='bx bx-refresh'></i></b></button>
        <button onclick="changeDate(1)" class="btn btn-primary"><i class='bx bxs-right-arrow'></i></button>
    </div>

    <div class="header-row mb-2">
        <div class="card header-room text-center" style="width:100px">Rooms</div>
        {% for i in dates %}
            <div class="card header-day">{{ i }}</div>
        {% endfor %}
    </div>

    

    {% for category in categories %}
        <div class="card date-row">
            <div class="category">{{ category.category_name }}</div>
        </div>
        {% for room in category.rooms_set.all|dictsort:"room_name" %}
            <div class="date-row">
                <div class="room-names" style="width:100px"><b>{{ room.room_name }}</b>
                    {% if room.is_clean %}
                        <a href="{% url 'cleanroombtnweek' id=room.room_name %}"><i class="bi bi-stars fs-5 text-end text-info float-end"></i></a>
                    {% else %}
                        <a href="{% url 'cleanroombtnweek' id=room.room_name %}"><i class="fa fa-broom text-danger fs-5 text-end float-end"></i></a>
                    {% endif %}
                </div>

                {% for date in dates %}
                    <div class="date-box" onclick="handleDateBoxClick(this, '{{ room.room_name }}', '{{ date }}', '{{ room.room_no }}')" style="position: relative; margin-top: -10px">
                        <div class="booking-container" style="display: flex; flex-direction: column; gap: 15px;">
                            {% for booking in bookings %}
                                {% if booking.room == room %}
                                    {% with booking_checkin=booking.check_in_date|date:"Y-m-d" booking_checkout=booking.check_out_date|date:"Y-m-d" %}
                                        {% if date >= booking_checkin and date <= booking_checkout %}
                                            {% if booking_checkin == booking_checkout %}
                                                <!-- Same-day booking -->
                                                <div class="booking-card {% if booking.status == 'CHECK IN' %}checkin-status{% endif %} {% if booking.status == 'CHECK OUT' %}checkout-status{% endif %}" 
                                                     style="width: 10%;border-radius:0px 15px 0px 15px;"
                                                     onclick="showBookingInfo('{{ booking.id }}','{{ booking.guest_name }}', '{{ room.room_name }}', '{{ booking.check_in_date }}',
                                                      '{{ booking.check_out_date }}','{{ booking.checkintime }}' ,'{{ booking.checkouttime }}' ,'{{ booking.segment }}','{{ booking.totalroom }}','{{ booking.totalamount }}','{{ booking.status }}','{{booking.fnbid}}')">
                                                    <div class="guest-name">
                                                        {% if booking.segment == 'MakeMyTrip' %}
                                                            <img src="{% static 'undercss/assets/img/icons/unicons/mmtshort.png'%}" alt="Credit Card" class="rounded" height='20px'/>
                                                        {% elif booking.segment == 'BOOKING-ENGINE' %}
                                                            <img src="{% static 'undercss/assets/img/icons/unicons/billzify.png'%}" alt="Credit Card" class="rounded" height='20px'/>
                                                        {% elif booking.segment == 'Booking.com' %}
                                                            <img src="{% static 'undercss/assets/img/icons/unicons/bcom.png'%}" alt="Credit Card" class="rounded" height='20px'/>
                                                        {% elif booking.segment == 'Agoda' %}
                                                            <img src="{% static 'undercss/assets/img/icons/unicons/agoda.png'%}" alt="Credit Card" class="rounded" height='25px'/>
                                                        {% elif booking.segment == 'Goibibo' %}
                                                            <img src="{% static 'undercss/assets/img/icons/unicons/goibibos.png'%}" alt="Credit Card" class="rounded" height='25px'/>
                                                        {% endif %}
                                                        {{ booking.guest_name }}
                                                    </div>
                                                </div>
                                            {% else %}
                                                <!-- Multi-day booking -->
                                                {% if date == booking_checkin %}
                                                    <div class="booking-card checkin {% if booking.status == 'CHECK IN' %}checkin-status{% endif %} {% if booking.status == 'CHECK OUT' %}checkout-status{% endif %}" 
                                                         style="width: {{ booking.check_in_width }}%; right: 0;"
                                                         onclick="showBookingInfo('{{ booking.id }}','{{ booking.guest_name }}', '{{ room.room_name }}', '{{ booking.check_in_date }}',
                                                          '{{ booking.check_out_date }}','{{ booking.checkintime }}' ,'{{ booking.checkouttime }}' ,'{{ booking.segment }}','{{ booking.totalroom }}','{{ booking.totalamount }}','{{ booking.status }}','{{booking.fnbid}}')">
                                                        <div class="guest-name">
                                                            {% if booking.segment == 'MakeMyTrip' %}
                                                                <img src="{% static 'undercss/assets/img/icons/unicons/mmtshort.png'%}" alt="Credit Card" class="rounded" height='20px'/>
                                                            {% elif booking.segment == 'BOOKING-ENGINE' %}
                                                                <img src="{% static 'undercss/assets/img/icons/unicons/billzify.png'%}" alt="Credit Card" class="rounded" height='20px'/>
                                                            {% elif booking.segment == 'Booking.com' %}
                                                                <img src="{% static 'undercss/assets/img/icons/unicons/bcom.png'%}" alt="Credit Card" class="rounded" height='20px'/>
                                                            {% elif booking.segment == 'Agoda' %}
                                                                <img src="{% static 'undercss/assets/img/icons/unicons/agoda.png'%}" alt="Credit Card" class="rounded" height='25px'/>
                                                            {% elif booking.segment == 'Goibibo' %}
                                                                <img src="{% static 'undercss/assets/img/icons/unicons/goibibos.png'%}" alt="Credit Card" class="rounded" height='25px'/>
                                                            {% endif %}
                                                            {{ booking.guest_name }}
                                                        </div>
                                                    </div>
                                                {% elif date == booking_checkout %}
                                                    <div class="booking-card checkout {% if booking.status == 'CHECK IN' %}checkin-status{% endif %} {% if booking.status == 'CHECK OUT' %}checkout-status{% endif %}" 
                                                         style="width: {{ booking.check_out_width }}%; left: 0;"
                                                         onclick="showBookingInfo('{{ booking.id }}','{{ booking.guest_name }}', '{{ room.room_name }}', '{{ booking.check_in_date }}',
                                                          '{{ booking.check_out_date }}','{{ booking.checkintime }}' ,'{{ booking.checkouttime }}' ,'{{ booking.segment }}','{{ booking.totalroom }}','{{ booking.totalamount }}','{{ booking.status }}','{{booking.fnbid}}')">
                                                        {{ booking.guest_name }}
                                                    </div>
                                                {% else %}
                                                    <div class="booking-card {% if booking.status == 'CHECK IN' %}checkin-status{% endif %} {% if booking.status == 'CHECK OUT' %}checkout-status{% endif %}" 
                                                         style="width: 100%; left: 0;"
                                                         onclick="showBookingInfo('{{ booking.id }}','{{ booking.guest_name }}', '{{ room.room_name }}', '{{ booking.check_in_date }}',
                                                          '{{ booking.check_out_date }}','{{ booking.checkintime }}' ,'{{ booking.checkouttime }}' ,'{{ booking.segment }}','{{ booking.totalroom }}','{{ booking.totalamount }}','{{ booking.status }}','{{booking.fnbid}}')">
                                                        
                                                          {% if not forloop.first %}
                                                            <div class="guest-name">{{ booking.guest_name }}</div>
                                                        {% endif %}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
</div> {% endcomment %}



<div class="container">
    <div class="navigation-buttons">
        <button onclick="changeDate(-1)" class="btn btn-primary"><i class='bx bxs-left-arrow'></i></button>
        <button onclick="refreshToCurrent()" class="btn btn-primary"><b><i class='bx bx-refresh'></i></b></button>
        <button onclick="changeDate(1)" class="btn btn-primary"><i class='bx bxs-right-arrow'></i></button>
    </div>

    <div class="header-row mb-2">
        <div class="card header-room text-center" style="width:100px">Rooms</div>
        {% for i in dates %}
            <div class="card header-day">{{ i }}</div>
        {% endfor %}
    </div>

    {% for category in categories %}
        <div class="card date-row">
            <div class="category">{{ category.category_name }}</div>
        </div>
        {% for room in category.rooms_set.all|dictsort:"room_name" %}
            <div class="date-row">
                <div class="room-names" style="width:100px"><b>{{ room.room_name }}</b>
                    {% if room.is_clean %}
                        <a href="{% url 'cleanroombtnweek' id=room.room_name %}"><i class="bi bi-stars fs-5 text-end text-info float-end"></i></a>
                    {% else %}
                        <a href="{% url 'cleanroombtnweek' id=room.room_name %}"><i class="fa fa-broom text-danger fs-5 text-end float-end"></i></a>
                    {% endif %}
                </div>

                {% for date in dates %}
                    <div class="date-box" onclick="handleDateBoxClick(this, '{{ room.room_name }}', '{{ date }}', '{{ room.room_no }}')" style="position: relative; margin-top: -10px">
                        <div class="booking-container" style="display: flex; flex-direction: column; gap: 15px;">
                            {% for booking in bookings %}
                                {% if booking.room == room %}
                                    {% with booking_checkin=booking.check_in_date|date:"Y-m-d" booking_checkout=booking.check_out_date|date:"Y-m-d" %}
                                        <!-- Check if the booking overlaps with the current date range -->
                                        {% if booking_checkin <= date and booking_checkout >= date %}
                                            {% if booking_checkin == booking_checkout %}
                                                <!-- Same-day booking -->
                                                <div class="booking-card {% if booking.status == 'CHECK IN' %}checkin-status{% endif %} {% if booking.status == 'CHECK OUT' %}checkout-status{% endif %}" 
                                                     style="width: 10%;border-radius:0px 15px 0px 15px;"
                                                     onclick="showBookingInfo('{{ booking.id }}','{{ booking.guest_name }}', '{{ room.room_name }}', '{{ booking.check_in_date }}',
                                                      '{{ booking.check_out_date }}','{{ booking.checkintime }}' ,'{{ booking.checkouttime }}' ,'{{ booking.segment }}','{{ booking.totalroom }}','{{ booking.totalamount }}','{{ booking.status }}','{{booking.fnbid}}')">
                                                    <div class="guest-name">
                                                        {% if booking.segment == 'MakeMyTrip' %}  
                                                            <img src="{% static 'undercss/assets/img/icons/unicons/mmtshort.png'%}" alt="Credit Card" class="rounded" height='20px'/>
                                                        {% elif booking.segment == 'BOOKING-ENGINE' %}
                                                            <img src="{% static 'undercss/assets/img/icons/unicons/billzify.png'%}" alt="Credit Card" class="rounded" height='20px'/>
                                                        {% elif booking.segment == 'booking.com' %}
                                                            <img src="{% static 'undercss/assets/img/icons/unicons/bcom.png'%}" alt="Credit Card" class="rounded" height='20px'/>
                                                        {% elif booking.segment == 'agoda' %}
                                                            <img src="{% static 'undercss/assets/img/icons/unicons/agoda.png'%}" alt="Credit Card" class="rounded" height='25px'/>
                                                        {% elif booking.segment == 'Goibibo' %}
                                                            <img src="{% static 'undercss/assets/img/icons/unicons/goibibos.png'%}" alt="Credit Card" class="rounded" height='25px'/>
                                                        {% endif %}
                                                        {{ booking.guest_name }}
                                                    </div>
                                                </div>
                                            {% else %}
                                                <!-- Multi-day booking -->
                                                {% if date == booking_checkin %}
                                                    <div class="booking-card checkin {% if booking.status == 'CHECK IN' %}checkin-status{% endif %} {% if booking.status == 'CHECK OUT' %}checkout-status{% endif %}" 
                                                         style="width: {{ booking.check_in_width }}%; right: 0;"
                                                         onclick="showBookingInfo('{{ booking.id }}','{{ booking.guest_name }}', '{{ room.room_name }}', '{{ booking.check_in_date }}',
                                                          '{{ booking.check_out_date }}','{{ booking.checkintime }}' ,'{{ booking.checkouttime }}' ,'{{ booking.segment }}','{{ booking.totalroom }}','{{ booking.totalamount }}','{{ booking.status }}','{{booking.fnbid}}')">
                                                        <div class="guest-name">
                                                            {% if booking.segment == 'MakeMyTrip' %}
                                                                <img src="{% static 'undercss/assets/img/icons/unicons/mmtshort.png'%}" alt="Credit Card" class="rounded" height='20px'/>
                                                            {% elif booking.segment == 'BOOKING-ENGINE' %}
                                                                <img src="{% static 'undercss/assets/img/icons/unicons/billzify.png'%}" alt="Credit Card" class="rounded" height='20px'/>
                                                            {% elif booking.segment == 'Booking.com' %}
                                                                <img src="{% static 'undercss/assets/img/icons/unicons/bcom.png'%}" alt="Credit Card" class="rounded" height='20px'/>
                                                            {% elif booking.segment == 'Agoda' %}
                                                                <img src="{% static 'undercss/assets/img/icons/unicons/agoda.png'%}" alt="Credit Card" class="rounded" height='25px'/>
                                                            {% elif booking.segment == 'Goibibo' %}
                                                                <img src="{% static 'undercss/assets/img/icons/unicons/goibibos.png'%}" alt="Credit Card" class="rounded" height='25px'/>
                                                            {% endif %}
                                                            {{ booking.guest_name }}
                                                        </div>
                                                    </div>
                                                {% elif date == booking_checkout %}
                                                    <div class="booking-card checkout {% if booking.status == 'CHECK IN' %}checkin-status{% endif %} {% if booking.status == 'CHECK OUT' %}checkout-status{% endif %}" 
                                                         style="width: {{ booking.check_out_width }}%; left: 0;"
                                                         onclick="showBookingInfo('{{ booking.id }}','{{ booking.guest_name }}', '{{ room.room_name }}', '{{ booking.check_in_date }}',
                                                          '{{ booking.check_out_date }}','{{ booking.checkintime }}' ,'{{ booking.checkouttime }}' ,'{{ booking.segment }}','{{ booking.totalroom }}','{{ booking.totalamount }}','{{ booking.status }}','{{booking.fnbid}}')">
                                                        {{ booking.guest_name }}
                                                    </div>
                                                {% else %}
                                                    <div class="booking-card {% if booking.status == 'CHECK IN' %}checkin-status{% endif %} {% if booking.status == 'CHECK OUT' %}checkout-status{% endif %}" 
                                                         style="width: 100%; left: 0;"
                                                         onclick="showBookingInfo('{{ booking.id }}','{{ booking.guest_name }}', '{{ room.room_name }}', '{{ booking.check_in_date }}',
                                                          '{{ booking.check_out_date }}','{{ booking.checkintime }}' ,'{{ booking.checkouttime }}' ,'{{ booking.segment }}','{{ booking.totalroom }}','{{ booking.totalamount }}','{{ booking.status }}','{{booking.fnbid}}')">
                                                        {% comment %} {% if not forloop.first %} {% endcomment %}
                                                            <div class="guest-name">{{ booking.guest_name }}</div>
                                                        {% comment %} {% endif %} {% endcomment %}
                                                    </div>
                                                {% endif %}
                                            {% endif %}
                                        {% endif %}
                                    {% endwith %}
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
    {% endfor %}
</div>


 
 
 <!-- Modal -->
<div class="modal fade" id="bookingModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Booking Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="row">
            <form action="{% url 'showlogsbook' %}" method="post" class="float-end">
                {% csrf_token %}
              <input type="hidden" id="bookingmodelidlogs3" name="bookingmodelidlogs" />
              <button class=" text-end mb-2" style="background:none;border:none" type="submit">
                <i class='bx bxl-blogger'></i> logs</button>
              </form>
            <div class="col-8">
                Guest:<span id="guestsname"></span><br>
                Room:<span id="mrids"></span><br>
                Check-In:<span id="checkins"></span><br>
                Check-Out:<span id="checkouts"></span><br>
                Segment:<span id="segmetss"></span><br>
                Total Room:<span id="trooms"></span><br>
                Total Amount:<span id="totalamtss"></span><br>
                Status:<span id="statuss"></span><br>
            </div>
            <div class="col-4">
                <!-- Modal Content Goes Here -->
          <form action="{% url 'changeroomadvance' %}" method="post">
            {% csrf_token %}
          <input type="hidden" id="bookingmodelid" name="bookingmodelid" />
          <button class="btn btn-primary" type="submit">Change Room</button>
          
          </form>

          <div id="checkinidsbook">
          <form action="{% url 'weekviewcheckin' %}" method="post">
            {% csrf_token %}
          <input type="hidden" id="bookmodelidbook" name="bookidsmain" />
          <button class="btn btn-primary" type="submit">Check-In</button>
          
          </form></div>

          <form action="{% url 'voucherfind' %}" method="post">
            {% csrf_token %}
          <input type="hidden" id="bookmodelidbookvoucher" name="bookidsmain" />
          <button class="btn btn-primary" type="submit">Voucher</button>
          
          </form>

          <form action="{% url 'bookingsearchview' %}" method="post">
            {% csrf_token %}
          <input type="hidden" id="bookidsearch" name="bookidsmain" />
          <button class="btn btn-primary" type="submit">Booking-History</button>
          
          </form>

            </div>
          </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
          
        </div>
      </div>
    </div>
  </div>




  
  <!-- Modal -->
  <div class="modal fade" id="bookingModalcheckin" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Booking Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Modal Content Goes Here -->
          
            <div class="row">
                <form action="{% url 'showlogs' %}" method="post" class="float-end">
                    {% csrf_token %}
                  <input type="hidden" id="bookingmodelidlogs1" name="bookingmodelidlogs" />
                  <button class=" text-end mb-2" style="background:none;border:none" type="submit">
                    <i class='bx bxl-blogger'></i> logs</button>
                  </form>
                
                <div class="col-8">Guest:<span id="guestsname1"></span><br>
                    Room:<span id="mrids1"></span><br>
                    Check-In:<span id="checkins1"></span><br>
                    Check-Out:<span id="checkouts1"></span><br>
                    Check-In Time:<span id="chekintime1"></span><br>
                    Check-Out Time:<span id="checkouttime1"></span><br>
                    Segment:<span id="segmetss1"></span><br>
                    Total Room:<span id="trooms1"></span><br>
                    Total Amount:<span id="totalamtss1"></span><br>
                    Status:<span id="statuss1"></span><br></div>
                <div class="col-4">
                    
                    <form action="{% url 'weekwiewfromfolio' %}" method="post">
                    {% csrf_token %}
                  <input type="hidden" id="bookingmodelid1" name="bookingmodelid" />
                  <button class="btn btn-primary" type="submit">GO TO FOLIO</button>
                  </form>
        
                  </div>
            </div>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
          
        </div>
      </div>
    </div>
  </div>



  
  <!-- Modal -->
  <div class="modal fade" id="bookingModalcheckout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Booking Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          
          <div class="row">
            <form action="{% url 'showlogs' %}" method="post" class="float-end">
                {% csrf_token %}
              <input type="hidden" id="bookingmodelidlogs2" name="bookingmodelidlogs" />
              <button class=" text-end mb-2" style="background:none;border:none" type="submit">
                <i class='bx bxl-blogger'></i> logs</button>
              </form>

            <div class="col-8">
                Guest:<span id="guestsname2"></span><br>
                Room:<span id="mrids2"></span><br>
                Check-In:<span id="checkins2"></span><br>
                Check-Out:<span id="checkouts2"></span><br>
                Check-In Time:<span id="chekintime2"></span><br>
                Check-Out Time:<span id="checkouttime2"></span><br>
                Segment:<span id="segmetss2"></span><br>
                Total Room:<span id="trooms2"></span><br>
                Total Amount:<span id="totalamtss2"></span><br>
                Status:<span id="statuss2"></span><br>
            </div>
            <div class="col-4">
                <!-- Modal Content Goes Here -->
                <form action="{% url 'weekwiewfromfolio' %}" method="post">
                    {% csrf_token %}
                <input type="hidden" id="bookingmodelid2" name="bookingmodelid" />
                <button class="btn btn-primary" type="submit">Invoice</button>
                
                </form>

                <form action="{% url 'guesthistorysearchview' %}" method="post" class="mt-3">
                    {% csrf_token %}
                  <input type="hidden" id="bookingmodelid3" name="bookingmodelid" />
                  <button class="btn btn-primary" type="submit">Guest History</button>
                  
                  </form>

                 <a class="btn btn-primary text-white"   href="{% url 'invoicepage' id=0 %}" id="invoiceLink" >
                    F&B Invoice 
                </a>
                   
               

            </div>
          </div>
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
          
        </div>
      </div>
    </div>
  </div>




 
 <script>
    function changeDate(offset) {
        const urlParams = new URLSearchParams(window.location.search);
        let index = parseInt(urlParams.get('index')) || 0;
        index += offset;
        window.location.href = '?index=' + index;
    }

    function refreshToCurrent() {
        window.location.href = '?index=0';  
    }

    function showBookingInfo(id, guestName, roomName, checkInDate, checkOutDate, checkIntime, checkouttime, segment, totalroom, totalamount, status, fnbid) {
        console.log("Segment:", segment);
        console.log("Total Room:", totalroom);
        console.log("Total Amount:", totalamount);
        console.log("this is id",id);
        console.log("guest id",fnbid)
        if (status=="BOOKING"){
            var myModal = new bootstrap.Modal(document.getElementById('bookingModal'));
            document.getElementById('bookingmodelid').value=id;
            document.getElementById('guestsname').innerText=guestName;
            document.getElementById('mrids').innerText=roomName;
            document.getElementById('checkins').innerText=checkInDate;
            document.getElementById('checkouts').innerText=checkOutDate;
            document.getElementById('segmetss').innerText=segment;
            document.getElementById('trooms').innerText=totalroom;
            document.getElementById('totalamtss').innerText=parseFloat(totalamount).toFixed(2);
            document.getElementById('statuss').innerText=status;
            document.getElementById('bookingmodelidlogs3').value=id;
            document.getElementById('bookmodelidbookvoucher').value=id;
            document.getElementById('bookidsearch').value=id;
            
            console.log(checkInDate,checkOutDate)
            const currentDate = new Date();
            // Format current date in 'Feb. 28, 2025' format (short month and full year)
    
    
    // Output the current date in desired format
    // Convert the formatted dates to Date objects for comparison
    const checkIn = new Date(checkInDate);
    const checkOut = new Date(checkOutDate);
    currentDate.setHours(0, 0, 0, 0);
    checkIn.setHours(0, 0, 0, 0);
    checkOut.setHours(0, 0, 0, 0);
    
    // Compare the current date with the range
    if (currentDate >= checkIn && currentDate <= checkOut)

    {
        
        document.getElementById('checkinidsbook').style.display='block';
        document.getElementById('bookmodelidbook').value=id;
        
    } else {
        document.getElementById('checkinidsbook').style.display='none';
        document.getElementById('bookmodelidbook').value=id;
    }
            myModal.show();
        }

        else if (status=="CHECK IN"){
            var myModalS = new bootstrap.Modal(document.getElementById('bookingModalcheckin'));
            document.getElementById('bookingmodelid1').value=id;
            document.getElementById('bookingmodelidlogs1').value=id;
            document.getElementById('guestsname1').innerText=guestName;
            document.getElementById('chekintime1').innerText=checkIntime;
            document.getElementById('checkouttime1').innerText=checkouttime;
            
            document.getElementById('mrids1').innerText=roomName;
            document.getElementById('checkins1').innerText=checkInDate;
            document.getElementById('checkouts1').innerText=checkOutDate;
            document.getElementById('segmetss1').innerText=segment;
            document.getElementById('trooms1').innerText=totalroom;
            document.getElementById('totalamtss1').innerText=parseFloat(totalamount).toFixed(2);
            document.getElementById('statuss1').innerText=status;
            myModalS.show();
        }

        else if (status=="CHECK OUT"){
            var myModalS = new bootstrap.Modal(document.getElementById('bookingModalcheckout'));
            document.getElementById('bookingmodelid2').value=id;
            document.getElementById('bookingmodelid3').value=id;
            document.getElementById('bookingmodelidlogs2').value=id;
            document.getElementById('guestsname2').innerText=guestName;
            
            document.getElementById('chekintime2').innerText=checkIntime;
            document.getElementById('checkouttime2').innerText=checkouttime;
            document.getElementById('mrids2').innerText=roomName;
            document.getElementById('checkins2').innerText=checkInDate;
            document.getElementById('checkouts2').innerText=checkOutDate;
            document.getElementById('segmetss2').innerText=segment;
            document.getElementById('trooms2').innerText=totalroom;
            document.getElementById('totalamtss2').innerText=parseFloat(totalamount).toFixed(2);
            document.getElementById('statuss2').innerText=status;
            //document.getElementById('guestidfromtable').value=fnbid;
            var fandbinvoiceid = fnbid;  // Example dynamic value
            

            if (fandbinvoiceid === 'default_value') {
                invoiceLink.style.display = 'none';  // Hide the button
            } else {
                invoiceLink.style.display = 'inline-block';  // Show the button
                // Update the href dynamically by setting the ID
                invoiceLink.href = "{% url 'invoicepage' id='0' %}".replace('0', fandbinvoiceid);
            }

            myModalS.show();
        }

        else {alert(`Guest: ${guestName}\nRoom: ${roomName}\nCheck-In: ${checkInDate}\nCheck-In Time: ${checkIntime}\nCheck-Out: ${checkOutDate}\nCheck-Out Time: ${checkouttime}\nSegment: ${segment}\nTotal Room: ${totalroom}\nTotal Amount: ${totalamount}\nStatus: ${status}`);}
        
    }

    function handleDateBoxClick(element, roomName, date, roomNumber) {
        console.log('Room Number:check chandan', roomName);  // Debugging: Check if roomNumber is correct
        roomNumber = roomName
        // Get today's date without the time part (set to midnight)
        const currentDate = new Date();
        currentDate.setHours(0, 0, 0, 0); // Set to midnight (00:00:00)

        // Get the clicked date and convert it to Date object
        const clickedDate = new Date(date);
        clickedDate.setHours(0, 0, 0, 0); // Set clicked date to midnight (00:00:00)
        
        // Get the next date (increment the current date by 1 day)
        const nextDate = new Date(currentDate);
        nextDate.setDate(currentDate.getDate() + 1);
        const formattedNextDate = nextDate.toISOString().slice(0, 10);  // Format next date to YYYY-MM-DD
        
        // Highlight clicked date temporarily
        element.classList.add('active');
        setTimeout(() => {
            element.classList.remove('active');
        }, 500);

        // Check if there's a booking card in the clicked date box
        const bookingCard = element.querySelector(".booking-card");
        
        // If there's a booking, show its information
        if (bookingCard) {
            return;  // Booking info will be shown through its own click event
        }

       console.log(clickedDate,currentDate)

        // Construct the URL for Django with the room number dynamically passed
        if (roomNumber && clickedDate.getTime() === currentDate.getTime())   {
            const roomUrl = "{% url 'openroomclickformpage' id='ROOM_NO' %}".replace('ROOM_NO', roomNumber);
            console.log('Generated URL:', roomUrl);  // Check the generated URL in the console
            window.location.href = roomUrl; // Navigate to the Django URL for the room
        } else {
            console.error('Room number is undefined or incorrect');
        }
    }

</script>



 
 </body>
 </html>



 

 


     
{%endblock%}